.input {
  position: relative;
  width: 100%;
  height: 2.8em;
  font-size: 1.15em;
  color: #6e7781;
  overflow: hidden;
}

.input:focus-within {
  color: #e5e5e6;
}

.input.textArea {
  height: fit-content;
}

.input.tagsInput {
  height: fit-content;
}

.input > svg {
  transition: all 150ms ease;
}

.input > svg:first-child {
  position: absolute;
  left: 1.2em;
  top: 1.4em;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.input > :is(svg:last-child, .sendBtn) {
  position: absolute;
  right: 1.4em;
  top: 1.5em;
  transform: translate(50%, -50%);
  z-index: 1;
}

.input :is(input, textarea) {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0.8em;
  border-radius: 0.45em;
  font-size: 1em;
  color: #e5e5e6;
  background-color: #282834;
  outline: none;
  box-shadow: none;
  border: #4a495a 0.75px solid;
  transition: all ease 150ms;
}

.input.withPreIcon input {
  padding-left: 2.4em;
}

.input.withPostIcon input {
  padding-right: 2.4em;
}

.input.withSearchIcon input {
  padding-left: 2.4em;
}

.input :is(input, textarea)::placeholder {
  color: #afb8c1;
}

.input :is(input, textarea):focus {
  border-color: #8c959f;
}

.input :is(input, textarea):focus::placeholder {
  color: #4a495a;
}

.input :is(input, textarea):disabled {
  background-color: rgba(60, 60, 60, 0.5);
  border-color: #32383f;
  cursor: not-allowed;
}

label.label {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 13px;
  color: #5d5b6e;
  text-align: left;
}
